In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter

In [5]:
df= pd.read_csv("data/processed/clean_df.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1500 non-null   object
 1   Price (INR)        1500 non-null   object
 2   Description        985 non-null    object
 3   Transaction        1500 non-null   object
 4   Furnishing         1500 non-null   object
 5   Bathroom           1498 non-null   float64
 6   Possession         1498 non-null   object
 7   Price per Sqft     1419 non-null   object
 8   Society            1500 non-null   object
 9   Total Area         1500 non-null   float64
 10  Covered_parking    1500 non-null   int64
 11  Open_parking       1500 non-null   int64
 12  Possession_Status  1500 non-null   object
 13  BHK                1500 non-null   float64
 14  Price_INR_Numeric  1500 non-null   float64
dtypes: float64(4), int64(2), object(9)
memory usage: 175.9+ KB

In [8]:
df.describe()

,Bathroom,Total Area,Covered_parking,Open_parking,BHK,Price_INR_Numeric
count,1498.000000,1500.000000,1500.000000,1500.000000,1500.000000,1.500000e+03
mean,2.458611,1391.596000,0.354000,0.020667,2.439333,1.347240e+07
std,1.393259,851.720632,0.750817,0.273781,1.323942,3.844128e+07
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+07
25%,2.000000,1100.000000,0.000000,0.000000,2.000000,1.100000e+07
50%,3.000000,1410.000000,0.000000,0.000000,3.000000,1.250000e+07
75%,3.000000,1750.000000,1.000000,0.000000,3.000000,1.400000e+07
max,10.000000,15000.000000,10.000000,9.000000,10.000000,1.500000e+09

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(df["Price_INR_Numeric"], bins=30, kde=True, color="skyblue")
plt.title("Distribution of Property Prices (in Lakhs ₹)")
plt.xlabel("Price (Lakhs ₹)")
plt.ylabel("Number of Properties")
plt.grid(True)
plt.tight_layout()
plt.show()

KeyError: 'Price_INR_Lakhs'